<form
  #animalForm="ngForm"
  (ngSubmit)="onSubmit()"
  *ngIf="formGroup"
  [formGroup]="formGroup"
>
  <label for="name">Nom</label>
  <input formControlName="name" id="name" />
  <p *ngIf="animalForm.submitted && formGroup.get('name').errors?.required">
    Le champs est manquant.
  </p>
  <p *ngIf="animalForm.submitted && formGroup.get('name').errors?.minlength">
    Le champs doit avoir
    {{ formGroup.get("name").errors?.minlength.requiredLength }} caractères.
  </p>
  <br />

  <label for="species">Espèce</label>
  <input formControlName="species" id="species" />
  <p *ngIf="animalForm.submitted && formGroup.get('species').errors?.required">
    Le champs est manquant.
  </p>
  <br />

  <label for="veterinarian">Vétérinaire</label>
  <input formControlName="veterinarian" id="veterinarian" />
  <p
    *ngIf="
      animalForm.submitted && formGroup.get('veterinarian').errors?.required
    "
  >
    Le champs est manquant.
  </p>
  <br />

  <label for="email">Email</label>
  <input formControlName="email" id="email" />
  <br />

  <label for="phoneNumber">Téléphone</label>
  <input formControlName="phone" id="phoneNumber" />
  <br />

  <label for="comment">Comment</label>
  <textarea formControlName="comment" id="comment"></textarea>
  <br />

  <button type="submit">Envoyer</button>
</form>
